.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.shape {
  font-size:14px;
}
.box_1 {
}
.image {
  color:#000000;
}
.horizontal_line {
}
.checkbox {
  text-align:left;
}
.icon {
}
.button {
}
.input_field {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#2D373E;
  text-align:left;
}
.label {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
.border_grey {
}
.solid_white {
}
.line_-_neutral {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-size:14px;
  color:#2D373E;
}
.btn-primary {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-size:16px;
  color:#FFFFFF;
}
.fill_-_white {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-size:14px;
  color:#2D373E;
}
.fill_-_hero {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-size:14px;
  color:#FFFFFF;
}
.type_size__14px {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-size:14px;
  color:#2D373E;
  text-align:left;
  line-height:20px;
}
.fill_-_primary {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-size:14px;
  color:#FFFFFF;
}
.input_-_field__wl_ {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-size:14px;
  color:#2D373E;
  text-align:center;
}
.fill_-_background {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-size:14px;
  color:#2D373E;
}
.solid_darkgrey {
}
.fill_-_white1 {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-size:14px;
  color:#2D373E;
}
.type_size__14px1 {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-size:14px;
  color:#2D373E;
  text-align:left;
  line-height:20px;
}
